

/*Setting font type and size for body and adding background image */
body {
    font-family: 'Oswald', sans-serif;
    background-image: url("http://cdn.shopify.com/s/files/1/2305/0107/products/You_Will_Never_Buy_Butter_From_The_Store_Again_After_You_Have_Made_It_Yourself_2_Ingredient_Recipe_800x.png?v=1514574735");
    font-size: 16px; 
}

/* Plac */


/*  */

/*  */

/*  */