

/*Setting font type and size for body and adding background image */
body {
    font-family: 'Oswald', sans-serif;
    background-image: url("http://cdn.shopify.com/s/files/1/2305/0107/products/You_Will_Never_Buy_Butter_From_The_Store_Again_After_You_Have_Made_It_Yourself_2_Ingredient_Recipe_800x.png?v=1514574735");
    font-size: 16px; 
}

/* Adding BLAH for all the main page information */
.maininfo {

}

/* Making boxes for ol list items */
.stepone, .steptwo, .stepthree, .stepfour {
    border: 7px double black;
    background-color: antiquewhite;
    position: relative;
    width: 65%;
}

/*  */
article {
    border: 7px solid rgb(88, 84, 84);
    background-color: antiquewhite;
    width: 25%;
    float: right;
}

/* Giving the footer a background color and changing the font */
footer {
    font-weight: bolder;
    color: rgb(241, 230, 216);
    background-color: rgb(88, 84, 84);
    width: 25%;
    position: static;
}

